<!--
&lt;!&ndash;&lt;!&ndash; Main Footer &ndash;&gt;&ndash;&gt;
&lt;!&ndash;<footer class="main-footer">&ndash;&gt;
  &lt;!&ndash;&lt;!&ndash; To the right &ndash;&gt;&ndash;&gt;
  &lt;!&ndash;<div class="pull-right hidden-xs">&ndash;&gt;
    &lt;!&ndash;Global Authenticity & Traceability Expert&ndash;&gt;
  &lt;!&ndash;</div>&ndash;&gt;
  &lt;!&ndash;&lt;!&ndash; Default to the left &ndash;&gt;&ndash;&gt;
  &lt;!&ndash;<strong>Copyright &copy; 2017 <a href="#">MOS TECHNOLOGIES PTY LTD</a>.</strong> All rights reserved.&ndash;&gt;
&lt;!&ndash;</footer>&ndash;&gt;



&lt;!&ndash; Control Sidebar &ndash;&gt;
<aside class="control-sidebar control-sidebar-dark">
  &lt;!&ndash; Create the tabs &ndash;&gt;
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
  </ul>
  &lt;!&ndash; Tab panes &ndash;&gt;
  <div class="tab-content">
    &lt;!&ndash; Home tab content &ndash;&gt;
    <div class="tab-pane active" id="control-sidebar-home-tab">
      <h3 class="control-sidebar-heading">Recent Activity</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="javascript:;">
            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

              <p>Will be 23 on April 24th</p>
            </div>
          </a>
        </li>
      </ul>
      &lt;!&ndash; /.control-sidebar-menu &ndash;&gt;

      <h3 class="control-sidebar-heading">Tasks Progress</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="javascript:;">
            <h4 class="control-sidebar-subheading">
              Custom Template Design
              <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
            </h4>

            <div class="progress progress-xxs">
              <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
            </div>
          </a>
        </li>
      </ul>
      &lt;!&ndash; /.control-sidebar-menu &ndash;&gt;

    </div>
    &lt;!&ndash; /.tab-pane &ndash;&gt;
    &lt;!&ndash; Stats tab content &ndash;&gt;
    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
    &lt;!&ndash; /.tab-pane &ndash;&gt;
    &lt;!&ndash; Settings tab content &ndash;&gt;
    <div class="tab-pane" id="control-sidebar-settings-tab">
      <form method="post">
        <h3 class="control-sidebar-heading">General Settings</h3>

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Report panel usage
            <input type="checkbox" class="pull-right" checked>
          </label>

          <p>
            Some information about this general settings option
          </p>
        </div>
        &lt;!&ndash; /.form-group &ndash;&gt;
      </form>
    </div>
    &lt;!&ndash; /.tab-pane &ndash;&gt;
  </div>
</aside>-->


<footer style="background-color: #2A3F54">
  <div class="pull-right" >
    <strong>Copyright &copy; 2017 <a href="#">GMKW technology</a>.</strong> All rights reserved.
  </div>
  <div class="clearfix"></div>
</footer>
